<%= simple_form_for(@play) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">    
    <%= f.input :useronekillcode, label: "Edit your secret kill code (this is what you'll give to your assassin when you're killed)"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
