<div class="center hero-unit">
	<h1>Welcome to Assassinator!</h1>
	<p>You've found the home page for the <%= link_to 'Assassinator', "#" %> application.
	</p>
	
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</p>
</div>